body{
	font-family: 'Shadows Into Light', cursive;
	background: linear-gradient(to right,#00ff00,#00ffff);
	color:rgba(0,0,0,0.6);
	text-align: center;
	letter-spacing: 0.5em;
	top:50%;
}

h1{
	font-size: 3.5em;
	text-transform: uppercase;
}

h3 {
	font-size: 0.6em;
	font-family: 'Times';
	z-index: 1;
}